<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>출석체크</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="root">
        <div class="whiteboard-wrap center">
            <div class="whiteboard center">칠판</div>
        </div>
        <div class="select-seat-wrap">
            {{seat}}
        </div>
        <div class="inputWrap">
            <form action="/set/schoolid" method="post">
                <div class="inputLine">
                    <div class="inputHeader center">
                        학번
                    </div>
                    <input type="number" class="input" name="schoolid" min="0" value="{{schoolid}}" placeholder="ex) 10234">
                    <input type="submit" class="submit" value="SET">
                </div>
            </form>
        </div>
    </div>
</body>

</html>